.lista {
    margin: 0;
    padding: 0px;
    list-style: none; /* ocultar los puntos */
    width: 100%;

    
}

.lista img {
    width: 40%;
}

@media (max-width: 376px) {
    .lista img {
        width: 100%;
    }
  }