form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
}

label {
    font-size: 36px;
    font-family: Poppins;
}

textarea {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 36px;

    padding: 12px;
    height: 10rem;
    width: calc(100%-25px);
}

textarea::placeholder {
   color: gray;
   font-family: Poppins;
   font-weight: 400;
}

textarea:focus {
   outline-color: #17546c;
 }

.botonFormsContainer {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.botonForms {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    color: white;
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.añadirTarea {
    background-color: #17546c;
}

.cancelarTarea {
    background-color: transparent;
    border: none;
}

@media (max-width: 376px) {
    form {
        
        max-width: 90vw;
    }
  }